<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shinymayhem.radiopresets"
    android:versionCode="1"
    android:versionName="0.1.1" > <!-- Major version (major release) . Minor version (new features) . Point (bugfixes) -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
	    
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shinymayhem.radiopresets.ActivityMain"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.shinymayhem.radiopresets.mainactivity.ACTION_UPDATE_TEXT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.shinymayhem.radiopresets.ServiceRadioPlayer"
            android:enabled="true"
            android:permission="android.permission.INTERNET"
            android:exported="true" >
        </service>
        
        <provider
		        android:authorities="com.shinymayhem.radiopresets.contentprovider"
		        android:name="com.shinymayhem.radiopresets.ContentProviderRadio"
		        android:exported="false" >
    	</provider>
    	<receiver android:name="com.shinymayhem.radiopresets.ReceiverRemoteControl">
    	    <intent-filter>
    	        <action android:name="android.intent.action.MEDIA_BUTTON" />
    	    </intent-filter>
    	</receiver>
        <receiver android:name="com.shinymayhem.radiopresets.WidgetProviderPresets" 
            android:label="@string/widget_presets_name">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />    
		    </intent-filter>
		    <intent-filter>
		    	<action android:name="com.shinymayhem.radiopresets.mainactivity.ACTION_UPDATE_TEXT" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/preset_buttons_widget_info" />
		</receiver>
    </application>
    

</manifest>